<section style="background-color: #eee;">
  <div class="container py-5">
    {{#each products as |product|}}
      <div class="row justify-content-center mb-3">
        <div class="col-md-12 col-xl-10">
          <div class="card shadow-0 border rounded-3">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                  <div
                    class="bg-image hover-zoom ripple rounded ripple-surface"
                  >
                    <img src={{product.image_file}} class="w-100" />
                    <a href="#!">
                      <div class="hover-overlay">
                        <div
                          class="mask"
                          style="background-color: rgba(253, 253, 253, 0.15);"
                        ></div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-6">
                  <h5><nav><a href="/products/{{product.id}}" title="">{{product.name}}</a></nav></h5>
                  <div class="d-flex flex-row">
                    <div class="text-danger mb-1 me-2">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                    <span>{{product.prod_description}}</span>
                  </div>
                  <div class="mb-2 text-muted medium text-primary">
                    Best for
                    {{product.age_preferred}}
                    year old pets.
                  </div>
                  <div class="mt-1 mb-0 text-muted small text-primary">
                    {{product.quantity}}
                    in stock!
                  </div>

                  <p class="text-truncate mb-4 mb-md-0">
                  </p>
                </div>
                <div
                  class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start"
                >
                  <div class="d-flex flex-row align-items-center mb-1">
                    <h4 class="mb-1 me-1"> ${{format_amount product.price}} </h4>

                  </div>
                  <h6 class="text-success">Free shipping</h6>
                  <div class="d-flex flex-column mt-4">
                    <button
                      class="btn btn-primary btn-sm text-white"
                      type="button"
                     ><a class="text-white" href="/products/{{product.id}}">Details</a></button>

                    <button
                      class="btn btn-outline-primary btn-sm mt-2"
                      type="button"
                    >
                      Add to wishlist
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {{/each}}

  </div>
</section>